body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.appContainer {
  display: flex;
  border: 1px solid black;
  height: 600px;
  width: 700px;
  background-color: rgb(158, 148, 32);
  margin: 20px auto;
}

.list {
  border: 1px solid black;
  width: 50%;
}
.list h2 {
  text-align: center;
}

.listItem {
  display: flex;
  justify-content: space-between;
  padding-right: 0px;
}
